<a href="https://colab.research.google.com/github/dipteshnath/Python/blob/master/Spark5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://www-eu.apache.org/dist/spark/spark-2.3.2/spark-2.3.2-bin-hadoop2.7.tgz
!tar xf spark-2.3.2-bin-hadoop2.7.tgz
!pip install -q findspark

In [0]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.3.2-bin-hadoop2.7"

In [0]:
import findspark
findspark.init()
from pyspark.sql import SparkSession

spark = SparkSession.builder.master("local[*]").getOrCreate()

In [0]:
df = spark.createDataFrame([{"hello": "world"} for x in range(1000)])
df.show(3)

/content/spark-2.3.2-bin-hadoop2.7/python/pyspark/sql/session.py:340: UserWarning: inferring schema from dict is deprecated,please use pyspark.sql.Row instead
  warnings.warn("inferring schema from dict is deprecated,"

+-----+
|hello|
+-----+
|world|
|world|
|world|
+-----+
only showing top 3 rows

In [0]:
from google.colab import files
files.upload()

Saving 2015-summary.json to 2015-summary.json

{'2015-summary.json': b'{"ORIGIN_COUNTRY_NAME":"Romania","DEST_COUNTRY_NAME":"United States","count":15}\n{"ORIGIN_COUNTRY_NAME":"Croatia","DEST_COUNTRY_NAME":"United States","count":1}\n{"ORIGIN_COUNTRY_NAME":"Ireland","DEST_COUNTRY_NAME":"United States","count":344}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Egypt","count":15}\n{"ORIGIN_COUNTRY_NAME":"India","DEST_COUNTRY_NAME":"United States","count":62}\n{"ORIGIN_COUNTRY_NAME":"Singapore","DEST_COUNTRY_NAME":"United States","count":1}\n{"ORIGIN_COUNTRY_NAME":"Grenada","DEST_COUNTRY_NAME":"United States","count":62}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Costa Rica","count":588}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Senegal","count":40}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Moldova","count":1}\n{"ORIGIN_COUNTRY_NAME":"Sint Maarten","DEST_COUNTRY_NAME":"United States","count":325}\n{"ORIGIN_COUNTRY_NAME":"Marshall Islands","DEST_COUNTRY_NAME":"United States","count":39}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Guyana","count":64}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Malta","count":1}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Anguilla","count":41}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Bolivia","count":30}\n{"ORIGIN_COUNTRY_NAME":"Paraguay","DEST_COUNTRY_NAME":"United States","count":6}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Algeria","count":4}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Turks and Caicos Islands","count":230}\n{"ORIGIN_COUNTRY_NAME":"Gibraltar","DEST_COUNTRY_NAME":"United States","count":1}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Saint Vincent and the Grenadines","count":1}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Italy","count":382}\n{"ORIGIN_COUNTRY_NAME":"Federated States of Micronesia","DEST_COUNTRY_NAME":"United States","count":69}\n{"ORIGIN_COUNTRY_NAME":"Russia","DEST_COUNTRY_NAME":"United States","count":161}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Pakistan","count":12}\n{"ORIGIN_COUNTRY_NAME":"Netherlands","DEST_COUNTRY_NAME":"United States","count":660}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Iceland","count":181}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Marshall Islands","count":42}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Luxembourg","count":155}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Honduras","count":362}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"The Bahamas","count":955}\n{"ORIGIN_COUNTRY_NAME":"Senegal","DEST_COUNTRY_NAME":"United States","count":42}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"El Salvador","count":561}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Samoa","count":25}\n{"ORIGIN_COUNTRY_NAME":"Angola","DEST_COUNTRY_NAME":"United States","count":13}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Switzerland","count":294}\n{"ORIGIN_COUNTRY_NAME":"Anguilla","DEST_COUNTRY_NAME":"United States","count":38}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Sint Maarten","count":325}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Hong Kong","count":332}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Trinidad and Tobago","count":211}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Latvia","count":19}\n{"ORIGIN_COUNTRY_NAME":"Ecuador","DEST_COUNTRY_NAME":"United States","count":300}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Suriname","count":1}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Mexico","count":7140}\n{"ORIGIN_COUNTRY_NAME":"Cyprus","DEST_COUNTRY_NAME":"United States","count":1}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Ecuador","count":268}\n{"ORIGIN_COUNTRY_NAME":"Portugal","DEST_COUNTRY_NAME":"United States","count":134}\n{"ORIGIN_COUNTRY_NAME":"Costa Rica","DEST_COUNTRY_NAME":"United States","count":608}\n{"ORIGIN_COUNTRY_NAME":"Guatemala","DEST_COUNTRY_NAME":"United States","count":318}\n{"ORIGIN_COUNTRY_NAME":"Suriname","DEST_COUNTRY_NAME":"United States","count":34}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Colombia","count":873}\n{"ORIGIN_COUNTRY_NAME":"Cape Verde","DEST_COUNTRY_NAME":"United States","count":14}\n{"ORIGIN_COUNTRY_NAME":"Jamaica","DEST_COUNTRY_NAME":"United States","count":712}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Norway","count":121}\n{"ORIGIN_COUNTRY_NAME":"Malaysia","DEST_COUNTRY_NAME":"United States","count":3}\n{"ORIGIN_COUNTRY_NAME":"Morocco","DEST_COUNTRY_NAME":"United States","count":19}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Thailand","count":3}\n{"ORIGIN_COUNTRY_NAME":"Samoa","DEST_COUNTRY_NAME":"United States","count":25}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Venezuela","count":290}\n{"ORIGIN_COUNTRY_NAME":"Palau","DEST_COUNTRY_NAME":"United States","count":31}\n{"ORIGIN_COUNTRY_NAME":"Venezuela","DEST_COUNTRY_NAME":"United States","count":246}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Panama","count":510}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Antigua and Barbuda","count":126}\n{"ORIGIN_COUNTRY_NAME":"Chile","DEST_COUNTRY_NAME":"United States","count":185}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Morocco","count":15}\n{"ORIGIN_COUNTRY_NAME":"Finland","DEST_COUNTRY_NAME":"United States","count":28}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Azerbaijan","count":21}\n{"ORIGIN_COUNTRY_NAME":"Greece","DEST_COUNTRY_NAME":"United States","count":23}\n{"ORIGIN_COUNTRY_NAME":"The Bahamas","DEST_COUNTRY_NAME":"United States","count":986}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"New Zealand","count":111}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Liberia","count":2}\n{"ORIGIN_COUNTRY_NAME":"Hong Kong","DEST_COUNTRY_NAME":"United States","count":414}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Hungary","count":2}\n{"ORIGIN_COUNTRY_NAME":"China","DEST_COUNTRY_NAME":"United States","count":920}\n{"ORIGIN_COUNTRY_NAME":"Vietnam","DEST_COUNTRY_NAME":"United States","count":2}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Burkina Faso","count":1}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Sweden","count":118}\n{"ORIGIN_COUNTRY_NAME":"Kuwait","DEST_COUNTRY_NAME":"United States","count":28}\n{"ORIGIN_COUNTRY_NAME":"Dominican Republic","DEST_COUNTRY_NAME":"United States","count":1420}\n{"ORIGIN_COUNTRY_NAME":"Egypt","DEST_COUNTRY_NAME":"United States","count":12}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Israel","count":134}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"United States","count":370002}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Ethiopia","count":13}\n{"ORIGIN_COUNTRY_NAME":"Luxembourg","DEST_COUNTRY_NAME":"United States","count":134}\n{"ORIGIN_COUNTRY_NAME":"Poland","DEST_COUNTRY_NAME":"United States","count":33}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Martinique","count":44}\n{"ORIGIN_COUNTRY_NAME":"Saint Barthelemy","DEST_COUNTRY_NAME":"United States","count":41}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Saint Barthelemy","count":39}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Barbados","count":154}\n{"ORIGIN_COUNTRY_NAME":"Turkey","DEST_COUNTRY_NAME":"United States","count":129}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Djibouti","count":1}\n{"ORIGIN_COUNTRY_NAME":"Azerbaijan","DEST_COUNTRY_NAME":"United States","count":21}\n{"ORIGIN_COUNTRY_NAME":"Estonia","DEST_COUNTRY_NAME":"United States","count":1}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Germany","count":1468}\n{"ORIGIN_COUNTRY_NAME":"South Korea","DEST_COUNTRY_NAME":"United States","count":827}\n{"ORIGIN_COUNTRY_NAME":"El Salvador","DEST_COUNTRY_NAME":"United States","count":508}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Ireland","count":335}\n{"ORIGIN_COUNTRY_NAME":"Hungary","DEST_COUNTRY_NAME":"United States","count":3}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Zambia","count":1}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Malaysia","count":2}\n{"ORIGIN_COUNTRY_NAME":"Ethiopia","DEST_COUNTRY_NAME":"United States","count":12}\n{"ORIGIN_COUNTRY_NAME":"Panama","DEST_COUNTRY_NAME":"United States","count":465}\n{"ORIGIN_COUNTRY_NAME":"Aruba","DEST_COUNTRY_NAME":"United States","count":342}\n{"ORIGIN_COUNTRY_NAME":"Thailand","DEST_COUNTRY_NAME":"United States","count":4}\n{"ORIGIN_COUNTRY_NAME":"Turks and Caicos Islands","DEST_COUNTRY_NAME":"United States","count":236}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Croatia","count":2}\n{"ORIGIN_COUNTRY_NAME":"Pakistan","DEST_COUNTRY_NAME":"United States","count":12}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Cyprus","count":1}\n{"ORIGIN_COUNTRY_NAME":"Honduras","DEST_COUNTRY_NAME":"United States","count":407}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Fiji","count":24}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Qatar","count":108}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Saint Kitts and Nevis","count":139}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Kuwait","count":32}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Taiwan","count":266}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Haiti","count":226}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Canada","count":8399}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Federated States of Micronesia","count":69}\n{"ORIGIN_COUNTRY_NAME":"Liberia","DEST_COUNTRY_NAME":"United States","count":2}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Jamaica","count":666}\n{"ORIGIN_COUNTRY_NAME":"Malta","DEST_COUNTRY_NAME":"United States","count":2}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Dominican Republic","count":1353}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Japan","count":1548}\n{"ORIGIN_COUNTRY_NAME":"Lithuania","DEST_COUNTRY_NAME":"United States","count":1}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Finland","count":26}\n{"ORIGIN_COUNTRY_NAME":"Guadeloupe","DEST_COUNTRY_NAME":"United States","count":59}\n{"ORIGIN_COUNTRY_NAME":"Ukraine","DEST_COUNTRY_NAME":"United States","count":13}\n{"ORIGIN_COUNTRY_NAME":"France","DEST_COUNTRY_NAME":"United States","count":952}\n{"ORIGIN_COUNTRY_NAME":"Norway","DEST_COUNTRY_NAME":"United States","count":115}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Aruba","count":346}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"French Guiana","count":5}\n{"ORIGIN_COUNTRY_NAME":"Kiribati","DEST_COUNTRY_NAME":"United States","count":35}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"India","count":61}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"British Virgin Islands","count":107}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Brazil","count":853}\n{"ORIGIN_COUNTRY_NAME":"Germany","DEST_COUNTRY_NAME":"United States","count":1336}\n{"ORIGIN_COUNTRY_NAME":"New Zealand","DEST_COUNTRY_NAME":"United States","count":74}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"French Polynesia","count":43}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"United Arab Emirates","count":320}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Singapore","count":3}\n{"ORIGIN_COUNTRY_NAME":"Mexico","DEST_COUNTRY_NAME":"United States","count":7187}\n{"ORIGIN_COUNTRY_NAME":"Sweden","DEST_COUNTRY_NAME":"United States","count":119}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Netherlands","count":776}\n{"ORIGIN_COUNTRY_NAME":"Martinique","DEST_COUNTRY_NAME":"United States","count":43}\n{"ORIGIN_COUNTRY_NAME":"United Arab Emirates","DEST_COUNTRY_NAME":"United States","count":313}\n{"ORIGIN_COUNTRY_NAME":"Bulgaria","DEST_COUNTRY_NAME":"United States","count":1}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Denmark","count":153}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"China","count":772}\n{"ORIGIN_COUNTRY_NAME":"Nicaragua","DEST_COUNTRY_NAME":"United States","count":201}\n{"ORIGIN_COUNTRY_NAME":"Philippines","DEST_COUNTRY_NAME":"United States","count":126}\n{"ORIGIN_COUNTRY_NAME":"Georgia","DEST_COUNTRY_NAME":"United States","count":1}\n{"ORIGIN_COUNTRY_NAME":"Belgium","DEST_COUNTRY_NAME":"United States","count":228}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Cayman Islands","count":314}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Argentina","count":180}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Peru","count":279}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"South Africa","count":36}\n{"ORIGIN_COUNTRY_NAME":"Iceland","DEST_COUNTRY_NAME":"United States","count":202}\n{"ORIGIN_COUNTRY_NAME":"Argentina","DEST_COUNTRY_NAME":"United States","count":141}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Spain","count":420}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Bermuda","count":183}\n{"ORIGIN_COUNTRY_NAME":"Nigeria","DEST_COUNTRY_NAME":"United States","count":50}\n{"ORIGIN_COUNTRY_NAME":"Austria","DEST_COUNTRY_NAME":"United States","count":63}\n{"ORIGIN_COUNTRY_NAME":"Bonaire, Sint Eustatius, and Saba","DEST_COUNTRY_NAME":"United States","count":59}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Kiribati","count":26}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Saudi Arabia","count":83}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Czech Republic","count":13}\n{"ORIGIN_COUNTRY_NAME":"Israel","DEST_COUNTRY_NAME":"United States","count":127}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Belgium","count":259}\n{"ORIGIN_COUNTRY_NAME":"Saint Lucia","DEST_COUNTRY_NAME":"United States","count":136}\n{"ORIGIN_COUNTRY_NAME":"Bahrain","DEST_COUNTRY_NAME":"United States","count":1}\n{"ORIGIN_COUNTRY_NAME":"British Virgin Islands","DEST_COUNTRY_NAME":"United States","count":80}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Curacao","count":90}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Georgia","count":2}\n{"ORIGIN_COUNTRY_NAME":"Denmark","DEST_COUNTRY_NAME":"United States","count":152}\n{"ORIGIN_COUNTRY_NAME":"Guyana","DEST_COUNTRY_NAME":"United States","count":63}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Philippines","count":134}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Grenada","count":53}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Cape Verde","count":20}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Cote d\'Ivoire","count":1}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Ukraine","count":14}\n{"ORIGIN_COUNTRY_NAME":"Papua New Guinea","DEST_COUNTRY_NAME":"United States","count":1}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Russia","count":176}\n{"ORIGIN_COUNTRY_NAME":"Saudi Arabia","DEST_COUNTRY_NAME":"United States","count":70}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Guatemala","count":397}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Saint Lucia","count":123}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Paraguay","count":60}\n{"ORIGIN_COUNTRY_NAME":"Curacao","DEST_COUNTRY_NAME":"United States","count":83}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Kosovo","count":1}\n{"ORIGIN_COUNTRY_NAME":"Taiwan","DEST_COUNTRY_NAME":"United States","count":235}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Tunisia","count":3}\n{"ORIGIN_COUNTRY_NAME":"South Africa","DEST_COUNTRY_NAME":"United States","count":40}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Niger","count":2}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Turkey","count":138}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"United Kingdom","count":2025}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Romania","count":14}\n{"ORIGIN_COUNTRY_NAME":"Greenland","DEST_COUNTRY_NAME":"United States","count":4}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Papua New Guinea","count":3}\n{"ORIGIN_COUNTRY_NAME":"Spain","DEST_COUNTRY_NAME":"United States","count":442}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Iraq","count":1}\n{"ORIGIN_COUNTRY_NAME":"Italy","DEST_COUNTRY_NAME":"United States","count":438}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Cuba","count":466}\n{"ORIGIN_COUNTRY_NAME":"Switzerland","DEST_COUNTRY_NAME":"United States","count":305}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Dominica","count":20}\n{"ORIGIN_COUNTRY_NAME":"Japan","DEST_COUNTRY_NAME":"United States","count":1496}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Portugal","count":127}\n{"ORIGIN_COUNTRY_NAME":"Brazil","DEST_COUNTRY_NAME":"United States","count":619}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Bahrain","count":19}\n{"ORIGIN_COUNTRY_NAME":"Peru","DEST_COUNTRY_NAME":"United States","count":337}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Indonesia","count":1}\n{"ORIGIN_COUNTRY_NAME":"Belize","DEST_COUNTRY_NAME":"United States","count":193}\n{"ORIGIN_COUNTRY_NAME":"United Kingdom","DEST_COUNTRY_NAME":"United States","count":1970}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Belize","count":188}\n{"ORIGIN_COUNTRY_NAME":"Ghana","DEST_COUNTRY_NAME":"United States","count":20}\n{"ORIGIN_COUNTRY_NAME":"Indonesia","DEST_COUNTRY_NAME":"United States","count":2}\n{"ORIGIN_COUNTRY_NAME":"Fiji","DEST_COUNTRY_NAME":"United States","count":25}\n{"ORIGIN_COUNTRY_NAME":"Canada","DEST_COUNTRY_NAME":"United States","count":8483}\n{"ORIGIN_COUNTRY_NAME":"Antigua and Barbuda","DEST_COUNTRY_NAME":"United States","count":117}\n{"ORIGIN_COUNTRY_NAME":"French Polynesia","DEST_COUNTRY_NAME":"United States","count":40}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Nicaragua","count":179}\n{"ORIGIN_COUNTRY_NAME":"Latvia","DEST_COUNTRY_NAME":"United States","count":15}\n{"ORIGIN_COUNTRY_NAME":"Dominica","DEST_COUNTRY_NAME":"United States","count":27}\n{"ORIGIN_COUNTRY_NAME":"Czech Republic","DEST_COUNTRY_NAME":"United States","count":12}\n{"ORIGIN_COUNTRY_NAME":"Australia","DEST_COUNTRY_NAME":"United States","count":258}\n{"ORIGIN_COUNTRY_NAME":"Cook Islands","DEST_COUNTRY_NAME":"United States","count":13}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Austria","count":62}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Jordan","count":44}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Palau","count":30}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"South Korea","count":1048}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Angola","count":15}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Ghana","count":18}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"New Caledonia","count":1}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Guadeloupe","count":56}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"France","count":935}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Poland","count":32}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Nigeria","count":59}\n{"ORIGIN_COUNTRY_NAME":"Uruguay","DEST_COUNTRY_NAME":"United States","count":13}\n{"ORIGIN_COUNTRY_NAME":"United States","DEST_COUNTRY_NAME":"Greenland","count":2}\n{"ORIGIN_COUNTRY_NAME":"Bermuda","DEST_COUNTRY_NAME":"United

In [0]:
spark.read.format("json").load("2015-summary.json").schema

StructType(List(StructField(DEST_COUNTRY_NAME,StringType,true),StructField(ORIGIN_COUNTRY_NAME,StringType,true),StructField(count,LongType,true)))

In [0]:
from pyspark.sql.types import StructField,StructType,StringType,LongType
myManualSchema=StructType([StructField("DEST_COUNTRY_NAME", StringType(),True),
                          StructField("ORIGIN_COUNTRY_NAME",StringType(),True),
                          StructField("count", LongType(),False,metadata={"hello":"world"})])
df=spark.read.format("json").schema(myManualSchema).load("2015-summary.json")

In [0]:
df.show(5)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Romania|   15|
|    United States|            Croatia|    1|
|    United States|            Ireland|  344|
|            Egypt|      United States|   15|
|    United States|              India|   62|
+-----------------+-------------------+-----+
only showing top 5 rows

In [0]:
from pyspark.sql.functions import col,column
df.select(col("count")).show(5)

+-----+
|count|
+-----+
|   15|
|    1|
|  344|
|   15|
|   62|
+-----+
only showing top 5 rows

In [0]:
df.first()

Row(DEST_COUNTRY_NAME='United States', ORIGIN_COUNTRY_NAME='Romania', count=15)

In [0]:
from pyspark.sql import Row
myRow=Row("Hello",None,1,False)

In [0]:
myRow[0]

'Hello'

In [0]:
from pyspark.sql import Row
from pyspark.sql.types import StructField,StructType,StringType,LongType
myManualSchema=StructType([StructField("some",StringType(),True),
                          StructField("col",StringType(),True),
                          StructField("names",LongType(),False)
                          ])
myRow=Row("Hello",None,1)
myDf=spark.createDataFrame([myRow],myManualSchema)
myDf.show()

+-----+----+-----+
| some| col|names|
+-----+----+-----+
|Hello|null|    1|
+-----+----+-----+

In [0]:
df.select("DEST_COUNTRY_NAME").show(2)

+-----------------+
|DEST_COUNTRY_NAME|
+-----------------+
|    United States|
|    United States|
+-----------------+
only showing top 2 rows

In [0]:
df.select("DEST_COUNTRY_NAME","ORIGIN_COUNTRY_NAME").show(2)

+-----------------+-------------------+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|
+-----------------+-------------------+
|    United States|            Romania|
|    United States|            Croatia|
+-----------------+-------------------+
only showing top 2 rows

In [0]:
from pyspark.sql.functions import expr,col,column
df.select(expr("DEST_COUNTRY_NAME"),col("DEST_COUNTRY_NAME"),column("DEST_COUNTRY_NAME")).show(2)

+-----------------+-----------------+-----------------+
|DEST_COUNTRY_NAME|DEST_COUNTRY_NAME|DEST_COUNTRY_NAME|
+-----------------+-----------------+-----------------+
|    United States|    United States|    United States|
|    United States|    United States|    United States|
+-----------------+-----------------+-----------------+
only showing top 2 rows

In [0]:
df.select(expr("DEST_COUNTRY_NAME AS destination")).show(2)

+-------------+
|  destination|
+-------------+
|United States|
|United States|
+-------------+
only showing top 2 rows

In [0]:
df.select(expr("DEST_COUNTRY_NAME as destination").alias("DEST_COUNTRY_NAME")).show(2)

+-----------------+
|DEST_COUNTRY_NAME|
+-----------------+
|    United States|
|    United States|
+-----------------+
only showing top 2 rows

In [0]:
df.selectExpr("DEST_COUNTRY_NAME as newColumnName","DEST_COUNTRY_NAME").show()

+--------------------+--------------------+
|       newColumnName|   DEST_COUNTRY_NAME|
+--------------------+--------------------+
|       United States|       United States|
|       United States|       United States|
|       United States|       United States|
|               Egypt|               Egypt|
|       United States|       United States|
|       United States|       United States|
|       United States|       United States|
|          Costa Rica|          Costa Rica|
|             Senegal|             Senegal|
|             Moldova|             Moldova|
|       United States|       United States|
|       United States|       United States|
|              Guyana|              Guyana|
|               Malta|               Malta|
|            Anguilla|            Anguilla|
|             Bolivia|             Bolivia|
|       United States|       United States|
|             Algeria|             Algeria|
|Turks and Caicos ...|Turks and Caicos ...|
|       United States|       United States|
+--------------------+--------------------+
only showing top 20 rows

In [0]:
df.selectExpr("*","(DEST_COUNTRY_NAME=ORIGIN_COUNTRY_NAME) as withinCountry").show(2)

+-----------------+-------------------+-----+-------------+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|withinCountry|
+-----------------+-------------------+-----+-------------+
|    United States|            Romania|   15|        false|
|    United States|            Croatia|    1|        false|
+-----------------+-------------------+-----+-------------+
only showing top 2 rows

In [0]:
df.selectExpr("avg(count)","count(distinct(DEST_COUNTRY_NAME))").show(2)

+-----------+---------------------------------+
| avg(count)|count(DISTINCT DEST_COUNTRY_NAME)|
+-----------+---------------------------------+
|1770.765625|                              132|
+-----------+---------------------------------+

In [0]:
from pyspark.sql.functions import lit
df.select(expr("*"),lit(1).alias("One")).show(2)

+-----------------+-------------------+-----+---+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|One|
+-----------------+-------------------+-----+---+
|    United States|            Romania|   15|  1|
|    United States|            Croatia|    1|  1|
+-----------------+-------------------+-----+---+
only showing top 2 rows

In [0]:
df.withColumn("numberOne",lit(1)).show(2)

+-----------------+-------------------+-----+---------+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|numberOne|
+-----------------+-------------------+-----+---------+
|    United States|            Romania|   15|        1|
|    United States|            Croatia|    1|        1|
+-----------------+-------------------+-----+---------+
only showing top 2 rows

In [0]:
df.withColumn("withinCountry",expr("ORIGIN_COUNTRY_NAME==DEST_COUNTRY_NAME")).show(2)

+-----------------+-------------------+-----+-------------+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|withinCountry|
+-----------------+-------------------+-----+-------------+
|    United States|            Romania|   15|        false|
|    United States|            Croatia|    1|        false|
+-----------------+-------------------+-----+-------------+
only showing top 2 rows

In [0]:
df.withColumn("Destination",expr("DEST_COUNTRY_NAME")).columns

['DEST_COUNTRY_NAME', 'ORIGIN_COUNTRY_NAME', 'count', 'Destination']

In [0]:
df.withColumnRenamed("DEST_COUNTRY_NAME","dest").columns

['dest', 'ORIGIN_COUNTRY_NAME', 'count']

In [0]:
dfWithLongCOlumnName=df.withColumn("This Long Column-Name",expr("ORIGIN_COUNTRY_NAME"))

In [0]:
dfWithLongCOlumnName.show(2)

+-----------------+-------------------+-----+---------------------+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|This Long Column-Name|
+-----------------+-------------------+-----+---------------------+
|    United States|            Romania|   15|              Romania|
|    United States|            Croatia|    1|              Croatia|
+-----------------+-------------------+-----+---------------------+
only showing top 2 rows

In [0]:
dfWithLongCOlumnName.selectExpr(
    "`This Long Column-Name`",
    "`This Long Column-Name` as `new col`")\
  .show(2)

+---------------------+-------+
|This Long Column-Name|new col|
+---------------------+-------+
|              Romania|Romania|
|              Croatia|Croatia|
+---------------------+-------+
only showing top 2 rows

In [0]:
dfWithLongCOlumnName.select(expr("`This Long Column-Name")).columns

ParseException: ignored

In [0]:
dfWithLongCOlumnName.drop("ORIGIN_COUNTRY_NAME","DEST_COUNTRY_NAME")

DataFrame[count: bigint, This Long Column-Name: string]

In [0]:
dfWithLongCOlumnName.show(2)

+-----------------+-------------------+-----+---------------------+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|This Long Column-Name|
+-----------------+-------------------+-----+---------------------+
|    United States|            Romania|   15|              Romania|
|    United States|            Croatia|    1|              Croatia|
+-----------------+-------------------+-----+---------------------+
only showing top 2 rows

In [0]:
df.withColumn("count2",col("count").cast("long"))

DataFrame[DEST_COUNTRY_NAME: string, ORIGIN_COUNTRY_NAME: string, count: bigint, count2: bigint]

In [0]:
df.filter(col("count")<2).show(2)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Croatia|    1|
|    United States|          Singapore|    1|
+-----------------+-------------------+-----+
only showing top 2 rows

In [0]:
df.where("count<2").show(2)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Croatia|    1|
|    United States|          Singapore|    1|
+-----------------+-------------------+-----+
only showing top 2 rows

In [0]:
df.where(col("count")<2).where(col("ORIGIN_COUNTRY_NAME")!="Croatia").show(2)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|          Singapore|    1|
|          Moldova|      United States|    1|
+-----------------+-------------------+-----+
only showing top 2 rows

In [0]:
df.select("ORIGIN_COUNTRY_NAME","DEST_COUNTRY_NAME").distinct().count()

256

In [0]:
df.select("ORIGIN_COUNTRY_NAME").distinct().count()

125

In [0]:
seed=5
withReplacement=False
fraction=0.5
df.sample(withReplacement,fraction,seed).count()

126

In [0]:
dataFrame=df.randomSplit([0.25,0.75],seed)
dataFrame[0].count()>dataFrame[1].count()

False

In [0]:
dataFrames=df.randomSplit([0.25,0.75],seed)
dataFrames[0].count()>dataFrames[1].count()

False

In [0]:
from pyspark.sql import Row
schema=df.schema
newRows=[
    Row("New Country","Other Country",5L),
    Row("New Country 2","Other Country 3", 1L)
]
parallelizedRows=spark.sparkContext.parallelize(newRows)
newDF=spark.createDataFrame(parallelizedRows,schema)
df.union(newDF).where("count=1").where(col("ORIGIN_COUNTRY_NAME")!="United States").show()

SyntaxError: ignored

In [0]:
df.sort("count").show(5)

+--------------------+-------------------+-----+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+--------------------+-------------------+-----+
|               Malta|      United States|    1|
|Saint Vincent and...|      United States|    1|
|       United States|            Croatia|    1|
|       United States|          Gibraltar|    1|
|       United States|          Singapore|    1|
+--------------------+-------------------+-----+
only showing top 5 rows

In [0]:
df.orderBy("count","DEST_COUNTRY_NAME").show(5)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|     Burkina Faso|      United States|    1|
|    Cote d'Ivoire|      United States|    1|
|           Cyprus|      United States|    1|
|         Djibouti|      United States|    1|
|        Indonesia|      United States|    1|
+-----------------+-------------------+-----+
only showing top 5 rows

In [0]:
df.orderBy(col("count"),col("DEST_COUNTRY_NAME")).show(5)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|     Burkina Faso|      United States|    1|
|    Cote d'Ivoire|      United States|    1|
|           Cyprus|      United States|    1|
|         Djibouti|      United States|    1|
|        Indonesia|      United States|    1|
+-----------------+-------------------+-----+
only showing top 5 rows

In [0]:
from pyspark.sql.functions import desc,asc
df.orderBy(expr("count desc")).show(5)
df.orderBy(col("count").desc(),col("DEST_COUNTRY_NAME").asc()).show(5)

+--------------------+-------------------+-----+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+--------------------+-------------------+-----+
|               Malta|      United States|    1|
|Saint Vincent and...|      United States|    1|
|       United States|            Croatia|    1|
|       United States|          Gibraltar|    1|
|       United States|          Singapore|    1|
+--------------------+-------------------+-----+
only showing top 5 rows

+-----------------+-------------------+------+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME| count|
+-----------------+-------------------+------+
|    United States|      United States|370002|
|    United States|             Canada|  8483|
|           Canada|      United States|  8399|
|    United States|             Mexico|  7187|
|           Mexico|      United States|  7140|
+-----------------+-------------------+------+
only showing top 5 rows

In [0]:
#spark.read.format("json").load("data/path".sortWithinPartitions("count"))

In [0]:
df.limit(5).show()

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Romania|   15|
|    United States|            Croatia|    1|
|    United States|            Ireland|  344|
|            Egypt|      United States|   15|
|    United States|              India|   62|
+-----------------+-------------------+-----+

In [0]:
df.orderBy(expr("count desc")).limit(6).show()

+--------------------+-------------------+-----+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+--------------------+-------------------+-----+
|               Malta|      United States|    1|
|Saint Vincent and...|      United States|    1|
|       United States|            Croatia|    1|
|       United States|          Gibraltar|    1|
|       United States|          Singapore|    1|
|             Moldova|      United States|    1|
+--------------------+-------------------+-----+

In [0]:
df.rdd.getNumPartitions()

1

In [0]:
df.repartition(col("DEST_COUNTRY_NAME"))

DataFrame[DEST_COUNTRY_NAME: string, ORIGIN_COUNTRY_NAME: string, count: bigint]

In [0]:
df.rdd.getNumPartitions()

1

In [0]:
df.repartition(5,col("DEST_COUNTRY_NAME"))

DataFrame[DEST_COUNTRY_NAME: string, ORIGIN_COUNTRY_NAME: string, count: bigint]

In [0]:
df.rdd.getNumPartitions()

1

In [0]:
df.repartition(5,col("DEST_COUNTRY_NAME")).coalesce(2)

DataFrame[DEST_COUNTRY_NAME: string, ORIGIN_COUNTRY_NAME: string, count: bigint]

In [0]:
collectDF=df.limit(10)
collectDF.take(5)

[Row(DEST_COUNTRY_NAME='United States', ORIGIN_COUNTRY_NAME='Romania', count=15),
 Row(DEST_COUNTRY_NAME='United States', ORIGIN_COUNTRY_NAME='Croatia', count=1),
 Row(DEST_COUNTRY_NAME='United States', ORIGIN_COUNTRY_NAME='Ireland', count=344),
 Row(DEST_COUNTRY_NAME='Egypt', ORIGIN_COUNTRY_NAME='United States', count=15),
 Row(DEST_COUNTRY_NAME='United States', ORIGIN_COUNTRY_NAME='India', count=62)]

In [0]:
collectDF.show()

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Romania|   15|
|    United States|            Croatia|    1|
|    United States|            Ireland|  344|
|            Egypt|      United States|   15|
|    United States|              India|   62|
|    United States|          Singapore|    1|
|    United States|            Grenada|   62|
|       Costa Rica|      United States|  588|
|          Senegal|      United States|   40|
|          Moldova|      United States|    1|
+-----------------+-------------------+-----+

In [0]:
collectDF.show(5,False)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|United States    |Romania            |15   |
|United States    |Croatia            |1    |
|United States    |Ireland            |344  |
|Egypt            |United States      |15   |
|United States    |India              |62   |
+-----------------+-------------------+-----+
only showing top 5 rows

In [0]:
collectDF.collect()

[Row(DEST_COUNTRY_NAME='United States', ORIGIN_COUNTRY_NAME='Romania', count=15),
 Row(DEST_COUNTRY_NAME='United States', ORIGIN_COUNTRY_NAME='Croatia', count=1),
 Row(DEST_COUNTRY_NAME='United States', ORIGIN_COUNTRY_NAME='Ireland', count=344),
 Row(DEST_COUNTRY_NAME='Egypt', ORIGIN_COUNTRY_NAME='United States', count=15),
 Row(DEST_COUNTRY_NAME='United States', ORIGIN_COUNTRY_NAME='India', count=62),
 Row(DEST_COUNTRY_NAME='United States', ORIGIN_COUNTRY_NAME='Singapore', count=1),
 Row(DEST_COUNTRY_NAME='United States', ORIGIN_COUNTRY_NAME='Grenada', count=62),
 Row(DEST_COUNTRY_NAME='Costa Rica', ORIGIN_COUNTRY_NAME='United States', count=588),
 Row(DEST_COUNTRY_NAME='Senegal', ORIGIN_COUNTRY_NAME='United States', count=40),
 Row(DEST_COUNTRY_NAME='Moldova', ORIGIN_COUNTRY_NAME='United States', count=1)]

In [0]:
for i in collectDF.toLocalIterator():print(i)

Row(DEST_COUNTRY_NAME='United States', ORIGIN_COUNTRY_NAME='Romania', count=15)
Row(DEST_COUNTRY_NAME='United States', ORIGIN_COUNTRY_NAME='Croatia', count=1)
Row(DEST_COUNTRY_NAME='United States', ORIGIN_COUNTRY_NAME='Ireland', count=344)
Row(DEST_COUNTRY_NAME='Egypt', ORIGIN_COUNTRY_NAME='United States', count=15)
Row(DEST_COUNTRY_NAME='United States', ORIGIN_COUNTRY_NAME='India', count=62)
Row(DEST_COUNTRY_NAME='United States', ORIGIN_COUNTRY_NAME='Singapore', count=1)
Row(DEST_COUNTRY_NAME='United States', ORIGIN_COUNTRY_NAME='Grenada', count=62)
Row(DEST_COUNTRY_NAME='Costa Rica', ORIGIN_COUNTRY_NAME='United States', count=588)
Row(DEST_COUNTRY_NAME='Senegal', ORIGIN_COUNTRY_NAME='United States', count=40)
Row(DEST_COUNTRY_NAME='Moldova', ORIGIN_COUNTRY_NAME='United States', count=1)

In [0]:
seed=5
dataFrames1 = df.randomSplit([0.25, 0.75], seed)
dataFrames1[0].count() > dataFrames1[1].count()

False

In [0]:
dataFrames1[0].show(5)
dataFrames1[1].show(5)

+--------------------+-------------------+-----+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+--------------------+-------------------+-----+
|             Algeria|      United States|    4|
|             Austria|      United States|   62|
|          Azerbaijan|      United States|   21|
|              Belize|      United States|  188|
|British Virgin Is...|      United States|  107|
+--------------------+-------------------+-----+
only showing top 5 rows

+-------------------+-------------------+-----+
|  DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-------------------+-------------------+-----+
|             Angola|      United States|   15|
|           Anguilla|      United States|   41|
|Antigua and Barbuda|      United States|  126|
|          Argentina|      United States|  180|
|              Aruba|      United States|  346|
+-------------------+-------------------+-----+
only showing top 5 rows